@use './partials/typography' ;
@use './partials/variables' as *;
@use './partials/mixins' as *;

// ===========================\\
//  #Global Styles
//============================\\

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 1rem;
  background-color: $color-lichen;
  
  &__content {
    max-width: $content-max-width;
    margin: 0 auto;
  }

  &__subtitle {
    font-family: 'Raleway', 'Helvetica', sans-serif;
    font-size: 1.5rem;
    color: #fff;
  }

  &--alt {
    display: block;
    min-height: 2rem;
    padding: 2rem;
    background-color: $color-cherry;
    
  }
}

.main {
  margin: 2rem 0 8rem;

  &--butter {
    margin: 0;
    padding: 2rem 0 6rem;
    background-color: $color-lichen;
  }
}

.section {
  max-width: $content-max-width;
  // width: 100%;
  padding: 2rem;
  margin: 0 auto;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include large-mobile {
      flex-direction: row;
  }
  }

  &__paragraph {
    font-size: 1rem;
    line-height: 1.5rem;

    &--left {
      flex-basis: 60%;
      margin-bottom: 1.5rem;

      @include large-mobile {
        margin: 0 3rem 0 0;
      }
    }

    &--right {
      flex-basis: 45%;
      

      @include large-mobile {
        margin-left: 2rem;
      }
    }
  }
}

.columns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include large-mobile {
    flex-direction: row;
}
}

.column {
  flex: 1;
  min-width: 10rem;
  margin-bottom: 0.75rem;

  @include large-mobile {
    padding: 0 0.75rem;
}
}

.heading-1 {
  margin-bottom: 2rem;
  font-family: 'Raleway';
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;

  &--alt {
    margin-bottom: 0.5rem;
    text-align: left;
  }
}

.heading-2 {
  font-size: 1.75rem;
}

.heading-3 {
  position: relative;
  z-index: 10;
  display: block;
  font-family: 'Raleway';
  font-size: 2rem;
  font-weight: 100;
  line-height: 2.25rem;
  color: $color-ink;
  margin-bottom: 1.5rem;  
}

.heading-4 {
  margin-bottom: 1rem;
  font-family: 'Raleway';
  font-size: 1.5rem;
}

.heading-5 {
  margin-bottom: 0.5rem;
  font-family: 'Raleway';
  font-weight: 100;
  color: #fff;
}

.paragraph {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.feature {
  font-weight: 700;
  color: $color-cherry;
}

.fine-print {
  display: inline-block;
  margin-top: 1rem;
  font-size: 0.75rem;
  text-align: left;
}

.inline-link {
  display: inline-block;
  text-decoration: none;
}

.video {
  position: relative;
  padding: 55% 0 0 0;

  &__i-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.profile {
  

  &__image {
    width: 4rem;
    margin-bottom: 1rem;
  }

  &__first-name {
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-cherry;
  }

  &__last-name {
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: $color-cherry;
  }

}

.stacked {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;

  &--left {
    flex-basis: 40%;
  }

  &--right {
    flex-basis: 55%;
  }

  &__image {
    max-width: 100%;

    &--landscape {
      margin-bottom: 1rem;

      @include large-mobile {
        margin-bottom: 0;
      }
    }
  }
  
  &__svg {
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    right: 0;
    max-width: 80%;
    width: 100%;
    max-height: 100%;
    margin: 0 auto;
    fill: $color-butter;
  }
}

.socials {
  display: flex;
  align-items: center;
  padding: 0.5rem 0 0;

  &__link {
    display: block;
    color: inherit;
    fill: $color-lichen;
  }

  &__icon {
    width: 1.25rem;
    margin-right: 0.5rem;
    fill: $color-ink;
  }
}

.supporter {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-shadow: 0.10rem 0.10rem rgba(0, 0, 0, 0.2);
  color: #fff;
}

.footer {
  padding-bottom: 5rem;
  background-color: $color-ink;
  color: #fff;

  &__content {
    max-width: $content-max-width;
    padding: 2rem;
    margin: 0 auto;
  }

  &__social {
    position: relative;
    top: 0.25rem;
    width: 1.25rem;
    margin-right: 0.5rem;
    fill: #fff;
  }

  &__contact {
    display: block;
    margin-bottom: 0.5rem;
    color: #fff;
  }
}

